@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Roboto", serif;
    font-style: normal;
}


::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    border-radius: 15rem;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 15rem;
}

::-webkit-scrollbar-thumb {
    background: #2596be;
    border-radius: 15rem;
}

::-webkit-scrollbar-button {
    background: lightgray;
    border-radius: 15rem;
}

.headerNav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 5px 0px 10px rgba(37, 150, 190, 1);
}


#headerWrapper {
    display: flex;
    justify-content: space-around;
}

#navBarList {
    color: black;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    list-style: none;
}

.navBarListAnchor {
    color: black;
    text-decoration: none;
}

#navBarLogo {
    height: 50px;
}

#navBarIcons {
    display: flex;
    gap: 1rem;
    align-self: center;
}

.navIcon {
    height: 22px;
}

.darkModeButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.sectionHeader {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.welcomeSection {
    background: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 6rem;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.welcomeWrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
}


.welcomeContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.welcomeContentImg {
    padding: 0;
}

    .welcomeContentImg img {
        height: 350px;
    }

.welcomeContent h1 {
    font-size: 5rem;
}

.welcomeContent p {
    font-size: 1.4rem;
}

.welcomeContent button {
    width: 8vw;
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}

.serviceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.serviceContainerContent {
    text-align: center;
    padding: 1.25em;
    box-shadow: 0 0.25em 0.375em rgba(8, 82, 78, 0.1);
    max-width: 18.75em;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0px 0px 15px rgba(37, 150, 190, 1);
}

    .serviceContainerContent img {
        width: 15%;
    }

    .serviceContainerContent:hover {
        transform: translateY(-0.3125em);
        box-shadow: 0px 0px 5px rgba(37, 150, 190, 1);
    }




    .about {
    padding: 50px;
}

.aboutContainer {
    display: flex;
    gap: 0.5rem;
    padding: 20px;
}


.aboutContainerImg {
    padding: 25px;
}

    .aboutContainerImg img {
        height: 350px;
    }


.aboutContainerContent {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 15px;
    align-self: center;
}

    .aboutContainerContent p {
        font-size: 19px !important;
        font-weight: 400;
    }

.aboutSectionHeader {
    font-size: 3rem;
    text-align: left;
}

.aboutContainerContent p {
    font-size: 1.5rem;
}

.aboutContainerContent button {
    width: 8vw;
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}








