.header {
    background: linear-gradient(to bottom, rgba(0, 180, 180, 0.8), rgba(0, 180, 180, 0)) bottom / 100% 6px no-repeat;
    background-color: #fff;
}

body {
    margin: 0px;
    font-family: Poppins;
}

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: black;
}

.primary-color {
    color: #089da1;
}

.slider {
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

.primary-button {
    background-color: #089da1;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}

.feature {
    margin: 0px 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 180, 180, 0.7);
    text-align: center;
}